.Body {
    color: #7f7f7f;
    font-family: 'HoeflerText-Regular', 'Hoefler Text', 'Times New Roman', 'serif';
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: #4c4c4c;
    font-family: 'HoeflerText-Italic', 'Hoefler Text', 'Times New Roman', 'serif';
    font-size: 14px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.graphic_generic_body_textbox_style_default {
    background: transparent;
    border: 1px #000000 none;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_navigationbar_style_default {
    background: transparent;
    border: 1px #000000 none;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.image_cluster_layout_style_default {
    padding: 0px;
}
a {
    color: #800093;
    text-decoration: underline;
}
a:visited {
    color: #5d5942;
    text-decoration: underline;
}
a:hover {
    color: #c10863;
    text-decoration: underline;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {display: inline; }
.InlineBlock {display: inline-block; }
.tinyText {
    font-size: 1px;
}
